body
{
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(100, 250, 100);
  border: 3px solid rgb(100, 250, 100);
  width: 1500px;
  margin: auto;
  font-size: 150%;
}

p
{
   font-size: 25px;
}